<div id="<%= dom_id post %>">
  <h2 class="mt-5 font-bold text-xl">
    <%= post.title %>
  </h2>
  <div class="italic text-sm">
    Posted by
    <span class="hover:text-gray-500"><%= link_to post.user.name, user_path(post.user) %></span>
  </div>
  <div class="italic text-sm">
    <%= pluralize(post.views, "view") %>
  </div>

  <p class="mb-5 mt-2">
    <%= post.body %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this post",
    post,
    class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this post",
    edit_post_path(post),
    class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
